.clear {
  clear: left;
}

.footer-org {
  border-top: thin solid #eef3f0;
  height: 50px;
  padding: 10px;
}

.header-org {
  background: #eef3f0;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.social-icons i {
  padding: 5px;
}

.social-icons {
  float: right;
  display: none;
}

.tweet:hover .social-icons {
  display: block;
}

.tweet {
  background: white;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid lightgrey;
  opacity: .60;
}

.tweet:hover {
  opacity: 1;
}

.tweet-text{
  height: 80px;
  padding: 10px;
  word-wrap: break-word;
}

.user-id {
  float: right;
  padding-top: 20px;
  padding-right: 10px;
}

.user-icon {
  float: left;
  padding: 15px;
}

.user-name {
  float: left;
  line-height: 20px;
  max-width: 190px;
}



